body {
	padding-top: 60px;
}
span.folder-close{
	width: 32px;
	height: 32px;
	background: url(../images/folder-close.png) no-repeat;
	float: left;
}

span.image-file{
	width: 32px;
	height: 32px;
	background: url(../images/picture_file.png) no-repeat;
	float: left;
}

span.folder-name, span.filename{
	margin-left: 40px;
	height: 32px;
	display: block;
	line-height: 32px;
	font-weight: bold;
}
div.folder, td.delete i{
		cursor: pointer;
}

.fl{
	float:left;
}
.fr{
	float:right;
}
.fn{
	float: none;
}